<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>934995628921-3hig75f5vpifmm10mtm1oaeerbu6c8l3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.934995628921-3hig75f5vpifmm10mtm1oaeerbu6c8l3</string>
	<key>API_KEY</key>
	<string>AIzaSyAP2T7vzEsZxgYMaf2lRSwY1DZOHd6bcVo</string>
	<key>GCM_SENDER_ID</key>
	<string>934995628921</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pf.Meal-It</string>
	<key>PROJECT_ID</key>
	<string>first-project-6f09f</string>
	<key>STORAGE_BUCKET</key>
	<string>first-project-6f09f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:934995628921:ios:237c7b695bc379970c55a8</string>
</dict>
</plist>
